NODE_ENV=development
PORT=3000

#Database
MONGODB_URI=mongodb://127.0.0.1:27017/lastcall

#JWT Secrets (Generate long random string for production)
JWT_ACCESS_SECRET=super_secret_access_key_change_me_in_prod
JWT_ACCESS_SECRET=super_secret_refresh_key_change_me_in_prod

#Client URL(For CORS)
CLIENT_URL=http://localhost:5173